.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image : url("https://i.pinimg.com/originals/e2/b8/2a/e2b82aded815e80351b929a77519adaa.jpg");
  color: orangered;
}

.content {
  min-width: 25vw;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100px auto;
  /* grid-gap: 2px; */
  /* background-color: #2196F3; */
  margin-bottom: 16px;
  
}

.gridContainer>div {
  background-color: rgba(300, 300, 300, 0.8);
  text-align: left;
  padding: 10px 0;
  font-size: 1.2rem;
}

.gridContainer>div>input {
  width: 100%;
  padding: 2px 2px;
  margin: 25px 20;
  box-sizing: border-box;
  font-size: 1.2rem;
}
  
.box{
background-color: white;
}